<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="../public/favicon.svg">
  <link rel="icon" type="image/png" href="../public/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodBoutique 🥦🍓</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <!--Dmitro-->
  <load src="partials/header.html" />
  <main>
    <section class="main-content">

      <div class="container">
        <div class="container-two">
          <h2 class="title-baskets">CART</h2>
          <p class="delete"> Delete all
            <svg class="svg-baskets" width="24" height="24">
              <use href=""></use>
            </svg>
          </p>
          <div class="gallery gallery-js">
            <!--список товарів-->
          </div>
        </div>
        <div class="container">
          <h2 class="title-order">Your Order</h2>
          <div>
            <p class="title-total">Total</p>
            <p class="title-sum">Sum</p>
          </div>
        </div>
        <form id="checkoutForm">
          <label class="label-class">
            <input type="email" name="user-email" id="emailInput" placeholder="E-mail: Enter your email" class="" />
          </label>
          <button type="submit" id="checkoutBtn">Checkout </button>

      </div>
      <div class="container">
        <h2>Your Order</h2>
        <div>
          <p>Total</p>
          <p>Sum</p>
        </div>
      </div>
      <form id="checkoutForm">
        <label class="label-class">
          <input type="email" name="user-email" id="emailInput" placeholder="E-mail: Enter your email" class="" />
        </label>
        <button type="submit" id="checkoutBtn">Checkout </button>
        </div>
    </section>
  </main>

  <!--Vitaliy-->
  <load src="partials/footer.html" />
  <script type="module" src="../js/cartPage.js"></script>

</body>

</html>