<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodBoutique 🥦🍓</title>
  <link rel="stylesheet" href="/src/css/styles.css">
</head>

<body>
  <!--Dmitro-->
  <load src="partials/header.html" />
  <main>
    <section class="main-content">
        <div class ="container">
            <div> 
                <button type="button">
                    <svg class="svg-baskets" width="12" height="12"> 
                        <use href=""></use>
                    </svg>
                </button>
                    <h2>CART</h2>
                    <p> Delete all 
                        <svg class="svg-baskets" width="24" height="24"> 
                            <use href=""></use>
                        </svg>
                    </p>
                <div class="gallery">
                    <!--список товарів-->
                </div>
            </div>
            <div class ="container">
                <h2>Your Order</h2>
                <div>
                    <p>Total</p>
                    <p>Sum</p>
                </div>
            </div>
                <form class="">
                    <label class=""> 
                    <input type="email" name="user-email" id="user-email" placeholder="E-mail: Enter your email" class=""/>
                </label>
                    <button type="submit" class="">Checkout 
                    </button>
        </div>
    </section>
  </main>

  <!--Vitaliy-->
  <load src="partials/footer.html" />

  <script type="module" src="js/main.js"></script>
</body>

</html>




