<footer class="basement">
  <div class="container">
    <div class="basement-wrap">
      <div class="footer-logo-social">
        <a class="logo-link" href="./index.html">
          <svg class="logo-icon">
            <use href="img/icons.svg#icon-logo-desc-tablet-w"></use>
          </svg>
        </a>
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Facebook"
            >
              <svg class="footer-socials-icon">
                <use href="img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Instagram"
            >
              <svg class="footer-socials-icon">
                <use href="img/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              class="footer-socials-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Youtube"
            >
              <svg class="footer-socials-icon">
                <use href="img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="description-form-wrap">
        <div class="footer-description">
          <h2 class="footer-description-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-description-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form-wrap">
          <p class="footer-form-text">
            Subscribe and learn about new products!
          </p>
          <form class="footer-form">
            <div class="footer-field">
              <input
                type="email"
                name="footer-email"
                class="footer-input"
                placeholder="Email"
                required
              />
              <!-- <svg class="footer-input-icon" width="24" height="24">
            <use href="img/symbol-defs.svg#icon-error-outline"></use>
          </svg> -->
            </div>
            <button
              type="submit"
              class="footer-submit-btn"
              title="Send email"
              aria-label="Send email"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-terms">
      <p class="footer-terms-text">Food Boutique. All rights reserved.</p>
      <p class="footer-terms-link">
        <a href="#">Privacy Policy</a> / <a href="#">Terms of Service</a>
      </p>
    </div>
  </div>
</footer>
