<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo" aria-label="Home Page">
      <svg class="header-logo-img">
        <use href="./img/icons.svg#icon-logo-desc-tablet"></use>
      </svg>
    </a>

    <div class="header-navigation">
      <a class="to-home" href="./index.html" role="link" aria-label="Home Page">
        Home
      </a>

      <div class="header-cart">
        <a class="header-cart-link" href="./cartPage.html" role="link">
          <div class="header-cart-btn">
            <svg class="header-cart-icon">
              <use href="./img/icons.svg#icon-cart"></use>
            </svg>
          </div>
        </a>
        <a
          class="header-cart-text"
          href="./cartPage.html"
          role=" link"
          aria-label="Cart Page"
        >
          CART (<span class="header-counter"></span>)</a
        >
      </div>
    </div>
  </div>
</header>
