<section class="hero-sect">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to the <span>Food</span> Boutique!</h1>
    <p class="hero-text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <picture>
      <source srcset="
          ./img/hero-picture-mobile.jpg    1x,
          ./img/hero-picture-mobile-2x.jpg 2x
        " media="(min-width: 375px) and (max-width: 767px)" loading="lazy" />
      <source srcset="
          ./img/hero-picture-tablet.jpg    1x,
          ./img/hero-picture-tablet-2x.jpg 2x
        " media="(min-width: 768px) and (max-width: 1439px)" loading="lazy" />
      <source srcset="
          ./img/hero-picture-desktop.jpg    1x,
          ./img/hero-picture-desktop-2x.jpg 2x
        " media="(min-width: 1440px)" loading="lazy" />
      <img src="./img/hero-picture-mobile.jpg" alt="vegetables in a box" class="hero-img" loading="lazy" />
    </picture>
    <svg class="icon-organic-food">
      <use href="./img/icons.svg#icon-organic-food"></use>
    </svg>
  </div>
</section>