<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Image gallery</title>
  <link href="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.css" rel="stylesheet">
</head>
<body>
  <button id="openModalBtn">Open Modal</button>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.js"></script>
  <script src="../js/modal.js" type="module"></script>
</body>
</html>
