<section class="products-section container">
  <div class="products-container js-products-container hidden">
    <div class="products-pagination-content">
      <ul class="product-list list"></ul>
      <div class="products-pagination filters-visually-hidden">
        <button type="button" class="pagination-btn-decrement pag-btn-common" title="Back" aria-label="Back">
          <svg width="11" height="11">
            <use href="./img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
        <ul class="pagination-btn-list"></ul>
        <button type="button" class="pagination-btn-increment pag-btn-common" title="Forward" aria-label="Forward">
          <svg width="11" height="11">
            <use href="./img/icons.svg#icon-chevron-down"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="aside-products">
      <load src="./popularProducts.html" />
    </div>
  </div>
</section>