/**/
.header {
  padding-top: 18px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.container {
}
.header-logo {
  height: 28px;
  width: 154px;
  display: inline-block;
}
.header-logo-img {
  height: 100%;
  width: 100%;
}
.header-navigation {
  display: flex;
  gap: 6px;
}

.to-home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-txt);
  height: 30px;
  width: 70px;
  border-radius: 30px;
  background-color: var(--green-bg);
  /* text */
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  transition: background-color 0.3s ease 0s;
}

.header-cart {
}

.header-cart-link {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--green-bg);
  /* text */
  text-align: center;
  height: 30px;
  width: 30px;
  transition: background-color 0.3s ease 0s;
}

.header-cart-btn:hover,
.header-cart-btn:active,
.to-home:hover,
.to-home:active {
  background-color: var(--dark-green-bg);
}
.header-cart-icon {
  height: 14px;
  width: 14px;
  fill: var(--white-txt);
}

.header-cart-text {
  display: none;
}
.header-counter {
}

@media (min-width: 375px) {
  .header-cart-btn {
    height: 38px;
    width: 38px;
  }
  .to-home {
    height: 38px;
    width: 77px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 29px;
  }
  .header-logo {
    height: 32px;
    width: 195px;
    display: inline-block;
  }

  .header-navigation {
    gap: 24px;
  }
  .to-home {
    height: 48px;
    width: 104px;
    font-size: 18px;
    line-height: 1.3;
  }
  .header-cart {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .header-cart-icon {
    height: 18px;
    width: 18px;
  }
  .header-cart-text {
    color: var(--black-txt);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    display: flex;
  }
}

@media (min-width: 1440px) {
}
