.hero-img {
  width: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.hero-sect {
  padding-top: 72px;
}

.hero-container {
  display: block;
  position: relative;
}

.hero-title {
  color: var(--black-txt);
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 109%;
  letter-spacing: -0.04em;
  margin: auto;
  margin-bottom: 16px;
}

.hero-title span {
  color: var(--green-bg);
}

.hero-text {
  color: rgba(1, 1, 1, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 129%;
  margin: auto;
  margin-bottom: 32px;
}

.icon-organic-food {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 192px;
  right: 33px;
}

@media screen and (min-width: 375px) {
  .hero-img {
    max-width: 335px;
  }

  .hero-title {
    width: 335px;
  }

  .hero-text {
    width: 292px;
  }
}

@media screen and (min-width: 768px) {
  .hero-sect {
    padding-top: 116px;
  }

  .hero-title {
    color: var(--black-txt);
    font-size: 80px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.02em;
    width: 658px;
    margin-bottom: 20px;
  }

  .hero-title span {
    color: var(--green-bg);
  }

  .hero-text {
    font-size: 18px;
    line-height: 133%;
    width: 492px;
    margin-bottom: 40px;
  }

  .hero-img {
    max-width: 704px;
    border-radius: 60px;
  }

  .icon-organic-food {
    top: 237px;
    right: 42px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-sect {
    padding-top: 77px;
  }

  .hero-img {
    max-width: 1240px;
  }

  .hero-title {
    width: 1042px;
    margin-bottom: 20px;
  }

  .icon-organic-food {
    top: 138px;
    right: 120px;
  }
}
