.popular {
  padding: 80px 0;
}

.container-aside-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 14px;
  margin-bottom: 80px;
}

.container-discount-product-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  row-gap: 20px;
}

.descr-p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}

.discount-svg {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 3px;
  right: 10px;
  transform-origin: center center;
}

.container-for-discount-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
}

.discount-price-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.container-for-name-descr {
  padding-left: 10px;
}

.card-product-name-container {
  display: flex;
}

.size-popularity-container {
  display: flex;
}

.popular-products-title {
  color: #010101;
  font-size: 24px;
  line-height: 1.16;
  display: flex;
  justify-content: start;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
}

.discount-products-title {
  color: #010101;
  font-size: 24px;
  line-height: 1.16;
  display: flex;
  justify-content: start;
  margin: 0;
  font-weight: 500;
}

.aside-product-card {
  width: 335px;
  height: 98px;
  border-radius: 10px;
  background: #fafafa;
  padding: 12px;
  position: relative;
  display: flex;
}

.discount-product-card {
  width: 335px;
  height: 232px;
  border-radius: 15px;
  background: #fafafa;
  padding: 16px;
  position: relative;
}

.aside-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  background: #e8e8e2;
  cursor: pointer;
}

.discount-product-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border-radius: 10px;
  background: #e8e8e2;
  cursor: pointer;
}

.aside-img {
  max-width: 56px;
  max-height: 56px;
}

.discount-card-img {
  max-width: 114px;
  max-height: 114px;
}

.aside-card-name {
  margin: 0;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.discount-product-card-name {
  margin: 0;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.products-card-description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 12px;
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  gap: 9px;
}

.aside-card-description {
  margin: 0;
  padding-right: 4px;
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.card-descr-value {
  margin: 0;
  padding: 0;
  color: #010101;
  display: flex;
  flex-direction: row;
}

.product-card-prices-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.container-for-popular-items {
  display: flex;
  border-radius: 10px;
  background: #fafafa;
  width: 100%;
  margin: 0;
}

.product-card-price {
  margin: 0;
  padding: 0;
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.products-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 30px;
  background: #e8e8e2;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 15px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

.discount-product-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 30px;
  background: #6d8434;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}

.discount-product-card-btn:hover {
  background-color: #586f1f;
}

.discount-product-card-btn.added .icon-cart {
  opacity: 0;
}

.discount-product-card-btn.added .icon-mark {
  opacity: 1;
}

.popular-button-icon {
  fill: #6d8434;
  opacity: 1;
}
.products-card-btn.added {
  background-color: var(--green-bg);
}

.products-card-btn.added .icon-cart {
  opacity: 0;
}

.products-card-btn.added .icon-mark {
  opacity: 1;
}

.discount-button-icon {
  fill: #e8e8e2;
  color: white;
}

/* ---------------------------------- */

@media screen and (min-width: 768px) {
  .popular {
    padding: 100px 0;
  }

  .popular-products-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .container-aside-cards {
    flex-direction: row;
    row-gap: 13px;
    column-gap: 13px;
    width: 704px;
    justify-content: start;
    margin-bottom: 0;
  }

  .container-discount-product-cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: nowrap;
  }

  .container-for-dischount-items {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .discount-product-card-name {
    font-size: 20px;
    line-height: 1.2;
  }

  .aside-product-card {
    width: 275px;
    height: 98px;
  }

  .discount-product-card {
    width: 336px;
    height: 232px;
  }

  .discount-products-title {
    margin-top: 64px;
    font-size: 28px;
    line-height: 1.14;
  }

  .aside-card-name {
    font-size: 20px;
    line-height: 1.2;
  }

  .product-card-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .container-for-popular-items {
    max-width: 275px;
  }
}

/* ---------------------------------- */

@media screen and (min-width: 1440px) {
  /* .container {
      max-width: 1440px;
      padding: 0 100px;
    } */

  .aside {
    margin-left: 40px;
  }

  .popular {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
    /* margin-bottom: 170px; */
    margin-top: 0;
  }

  .container-aside-cards {
    row-gap: 13px;
    column-gap: 20px;
    flex-direction: column;
    width: 100%;
    /* max-width: 275px; */
  }

  .container-for-discount-items {
    display: flex;
    flex-direction: column;
  }

  .discount-product-card {
    width: 243px;
    height: 200px;
  }

  .discount-products-title {
    margin-top: 40px;
  }

  .container-discount-product-cards {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .discount-product-card-img {
    gap: 20px;
  }

  .popular-products-title {
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  .discount-svg {
    top: -3px;
  }

  .discount-products-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .aside-product-card {
    width: 275px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .aside-product-card:hover {
    box-shadow: 0px 4px 4px 0px rgba(69, 71, 101, 0.08),
      0px 2px 2px 0px rgba(61, 62, 87, 0.16),
      0px 2px 8px 0px rgba(69, 71, 101, 0.08);
  }

  .discount-product-card {
    width: 275px;
    height: 232px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .discount-product-card:hover {
    box-shadow: 0px 4px 4px 0px rgba(69, 71, 101, 0.08),
      0px 2px 2px 0px rgba(61, 62, 87, 0.16),
      0px 2px 8px 0px rgba(69, 71, 101, 0.08);
  }
}
