.icon-cart-fill {
  fill: #e8e8e2;
}
.product-button-icon {
  color: white;
}
.icon-cart {
  opacity: 1;
}
.icon-mark {
  opacity: 0;
}
.btn-item.added .icon-cart {
  opacity: 0;
}
.btn-item.added .icon-mark {
  opacity: 1;
}
.product-button-icon {
  transition: opacity 300ms ease-in;
  position: absolute;
}
/**/
.btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 30px;
  background: #6d8434;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-radius 0.3s ease;
}
.span-info {
  color: var(--black-txt);
}
.item-info {
  color: rgba(1, 1, 1, 0.3);
  font-size: 10px;
  line-height: 1.16;
}
.container-info {
  justify-content: flex-start;
  white-space: nowrap;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  width: 100%;
}
.item-name {
  margin-bottom: 10px;
  color: var(--black-txt);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
.container-price {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  position: relative;
}
.container-card {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 20px;
}
.container-img {
  margin-bottom: 20px;
  background-color: #e8e8e2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.item-img {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 140px;
}
.products-container {
  padding-bottom: 80px;
}
.product-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-item {
  display: inline-block;
  background-color: #fafafa;
  border-radius: 20px;
  width: 100%;
  max-height: 356px;
  height: 100%;
}
@media screen and (min-width: 375px) {
  .products-container {
    padding-bottom: 80px;
  }
  .product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-card {
    padding: 20px;
  }
  .product-item {
    display: inline-block;
    background-color: #fafafa;
    border-radius: 20px;
    width: 335px;
    height: 356px;
  }
  .container-img {
    margin-bottom: 20px;
    background-color: var(--white-txt);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 178px;
  }
  .item-img {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
  }
  .container-info {
    justify-content: flex-start;
    white-space: nowrap;
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
  }
  .item-name {
    margin-bottom: 10px;
    color: var(--black-txt);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
  }
  .item-info {
    color: rgba(1, 1, 1, 0.3);
    font-size: 12px;
    line-height: 1.16;
  }
  .span-info {
    color: var(--black-txt);
  }
  .container-price {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    position: relative;
  }
  .item-price {
    color: var(--black-txt);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
  }
  .product-button-icon {
    color: white;
  }
  .btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 30px;
    background: #6d8434;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-radius 0.3s ease;
  }
  .icon-cart-fill {
    fill: #e8e8e2;
  }
  .icon-cart {
    opacity: 1;
  }
  .icon-mark {
    opacity: 0;
  }
  .btn-item.added .icon-cart {
    opacity: 0;
  }
  .btn-item.added .icon-mark {
    opacity: 1;
  }
  .product-button-icon {
    transition: opacity 300ms ease-in;
    position: absolute;
  }
}
@media screen and (min-width: 768px) {
  .products-section {
    padding-bottom: 100px;
  }
  .product-list {
    flex-wrap: wrap;
    gap: 32px 32px;
    flex-direction: unset;
  }
  .product-item {
    width: calc((100% - 32px) / 2);
  }
  .container-img {
    width: 296px;
  }
  .products-container {
    padding-bottom: 100px;
  }
  .products-pagination-content {
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .product-item {
    width: calc((100% - 40px) / 3);
    height: 363px;
    max-height: 363px;
  }
  .product-list {
    gap: 40px 20px;
  }
  .products-pagination-content {
    width: 925px;
    height: 1310px;
    margin-bottom: 0;
  }
  .products-container {
    width: 925px;
    padding-bottom: 60px;
  }
  .container-img {
    width: 255px;
  }
  .container-info {
    flex-wrap: wrap;
  }
  .products-section {
    padding-right: 40px;
  }
  .popular-item-info {
    width: 100%;
  }
  .container-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-card:hover {
    box-shadow: 0px 4px 4px 0px rgba(69, 71, 101, 0.08),
      0px 2px 2px 0px rgba(61, 62, 87, 0.16),
      0px 2px 8px 0px rgba(69, 71, 101, 0.08);
  }
}
