/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts/NeueMontreal/stylesheet.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./footer.css');
@import url('./cartPage.css');
@import url('./productCard.css');
@import url('./popularProducts.css');
@import url('./filters.css');

:root {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #e8e8e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green-bg: #6d8434;
  --dark-green-bg: #586f1f;
  --black-txt: #010101;
  --white-txt: #e8e8e2;
  --grey: #a3a3a3;
  --font: 'Neue Montreal';
}

body {
  font-family: var(--font);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.js-products-container,
.js-products-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.js-products-container:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

.js-products-container:not(.hidden) {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }

  .container-products {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 16px;
  }

  .container-popular {
    margin: 0 auto;
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .container-products {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 32px;
  }

  .container-popular {
    margin: 0 auto;
    max-width: 768px;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

  .container-products {
    max-width: 925px;
    padding-left: 0;
    padding-right: 40px;
  }

  .container-popular {
    padding: 0;
  }

  .container-products-style {
    display: flex;
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
  }

  .products-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 0;
    transition: opacity 300ms ease-in;
  }
}

.btn-up {
  width: 40px;
  height: 40px;
  z-index: 100;
  cursor: pointer;
  background-color: #6d8434;
  color: #e8e8e2;
  font-size: 35px;
  background-size: cover;
  border: none;
  border-radius: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all 300ms ease-in-out;
  display: flex;
  position: fixed;
  bottom: 25px;
  right: 35px;
  opacity: 0.9;
  box-shadow: 1px 1px 4px rgb(31, 41, 14);
}

.btn-up:hover {
  opacity: 1;
  background-color: #586f1f;
  box-shadow: none;
  transform: scale(1.1);
}

.arrow-up-icon {
  transition: all 300ms ease-in-out;
  stroke: #e8e8e2;
  fill: #6d8434;
}
.arrow-up {
  transform: rotate(90deg);
}

.btn-up:hover .arrow-up-icon {
  fill: #586f1f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(236, 235, 235, 0.1);
  z-index: 9999;
}

.loader {
  color: #e4fab2;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}
@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
