/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts/NeueMontreal/stylesheet.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./footer.css');
@import url('./cartPage.css');
@import url('./productCard.css');
@import url('./popularProducts.css');
@import url('./filters.css');

:root {
  font-family: 'Neue Montreal', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #e8e8e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --green-bg: #6d8434;
  --dark-green-bg: #586f1f;
  --black-txt: #010101;
  --white-txt: #e8e8e2;
  --grey: #a3a3a3;
  --font: 'Neue Montreal';
}

body {
  font-family: var(--font);
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }

  .container-products {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 16px;
  }

  .container-popular {
    margin: 0 auto;
    max-width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .container-products {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 32px;
  }

  .container-popular {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }

<<<<<<< Updated upstream
  .container-products {
    max-width: 925px;
    padding-left: 0;
    padding-right: 40px;
  }

  .container-popular {
    padding: 0;
  }

  .container-products-style {
    display: flex;
    max-width: 1440px;
    padding: 0 100px;
    margin: 0 auto;
=======
  .products-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
>>>>>>> Stashed changes
  }
}
